<section class="container">
  <div class="content" id="content">
    <h1>Todo App</h1>
    <ul class="list">
      <li class="list-item" *ngFor="let todo of allTodos$ | async">
        <input (change)="updateTodo(todo)" [checked]="todo.completed" type="checkbox">
        <div>
          <p [ngClass]="todo.completed ? 'todo-completed' : ''">{{ todo.text }}</p>
          <fa-icon class="remove-icon" [icon]="faTrash" 
          (click)="removeTodo(todo)"></fa-icon>
        </div>
      </li>
    </ul>
    <form [formGroup]="form">
      <input class="add-todo-input" formControlName="content" type="text">
      <span *ngIf="form.controls['content'].errors" class="error-message">Limite máximo de 30 characteres</span>
    </form>
    <div class="button-wrapper">
      <app-neon-button (click)="addTodo()" text="Add Todo"></app-neon-button>
    </div>
  </div>
</section>